* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: fff;
}

li {
  list-style: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

@font-face {
  font-family: "NotoSansBoldItalic";
  src: url("./fonts/NotoSans-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}

@keyframes menuEffect {
  0% {
    width: 35%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

.boldName {
  font-size: 100px;
}

.active {
  display: block;
}

::selection {
  color: #fff;
  background: #a2a2f3;
}

.BoxLayout02.active {
  height: 250px;
}
.fontsizeEvent {
  display: none;
}
.fontsizeEvent02 {
  display: none;
}
.fontsizeEvent.active {
  display: block;
}
.fontsizeEvent02.active {
  display: block;
}
